body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #121212;
    color: #ffffff;
}

header {
    text-align: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

.social-icons i {
    margin: 0 10px;
    font-size: 2rem; 
    color: #ffffff;
}


section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #1e1e1e;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}
